apiVersion: v1
kind: Secret
metadata:
  name: gamevault-secrets
  namespace: gamevault
type: Opaque
stringData:
  TICKET_SIGNER_PRIVKEY: "{{ vault_ticket_signer_privkey }}"
  ATTEST_SIGNER_PRIVKEY: "{{ vault_attest_signer_privkey }}"
  KEYSTORE_MASTER_KEY: "{{ vault_keystore_master_key }}"
  PINATA_JWT: "{{ vault_pinata_jwt }}"
{% if external_database_url | length > 0 %}
  DATABASE_URL: "{{ external_database_url }}"
{% endif %}
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
  namespace: gamevault
type: Opaque
stringData:
  password: "{{ vault_postgres_password }}"
